.SignIn .disclaimer {
    font-size: smaller;
    color: #888;
    display: block;
    margin: 20px 0;
}

.SignIn .button-switch-forms {
    border: none;
    background-color: inherit;
    color: #0c0c86;
    font-weight: 700;
    font-size: inherit;
    margin-left: 2px;
}

.SignIn .button-switch-forms:hover {
    color: #1414c7;
    cursor: pointer;
}
