.UserProfile h2 {
    margin: 30px 0;
}

.UserProfile h2 .UserAvatar {
    height: 128px;
    width: 128px;
    font-size: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin-right: 16px;
}


.UserProfile h2 .UserAvatar span {
    vertical-align: middle;
}

.UserProfile .Tabs {
    width: fit-content;
    margin: auto;
}