:root {
    --color-primary: #7C64BD;
    --color-anti-primary: #FBD872;
    --color-secondary: #DBF2FF;
    
    --color-primary-h: #8f71e0;
    --color-anti-primary-h: #ffeaac;

    /*--color-primary: #a72159;*/


    --mui-box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

.button-primary {
    padding: 8px;
    display: inline-block;
    font-size: larger;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    margin: 8px;
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--color-primary-h);
}

.button-danger {
    padding: 8px;
    display: inline-block;
    font-size: larger;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: none;
    margin: 8px;
}

.Brand {
    position: relative;
}

.no-selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.form-dialog {
    min-width: 256px;
    width: 600px;
    padding: 40px 20px;
    text-align: center;
}

@media only screen and (max-width: 600px ) {
    .form-dialog {
        width: 100%;
    }
}

.form-dialog .under-headline {
    color: #888;
    display: block;
    margin: 20px 0;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form-dialog .flex>* {
    padding: 8px;
    display: inline-block;
    margin: 4px 0;
    width: 320px;
    max-width: 100%;
    font-size: larger;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-dialog .button-submit {
    background-color: var(--color-primary);
    color: white;
    margin-top: 20px;
}

.form-dialog .button-submit:hover {
    cursor: pointer;
    background-color: var(--color-primary-h);
}