* {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  list-style: none;
  height: 64px;
  vertical-align: middle;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  z-index: 3;
}

nav .Brand {
  position: absolute;
  left: 0;
  top: -16px;
}

nav ul {
  height: 100%;
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

nav li {
  position: relative;
  font-weight: 500;
  color: #222;
}

.Nav-button {
  background-color: inherit;
  border: none;
  font-size: medium;
  font-weight: 500;
  color: #222;
  padding: 16px;
}

.Nav-button svg {
  font-size: larger;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .Nav-button span {
    display: none;
  }
  .Nav-button svg {
    font-size: x-large;
  }
  nav .Brand h1 {
    display: none;
  }
}

.Nav-button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.active .Nav-button {
  color: var(--color-primary);
  font-weight: 700;
}

.Nav-signIn-button {
  padding: 12px 24px;
  background-color: var(--color-anti-primary);
  border-radius: 8px;
}

.Nav-signIn-button:hover {
  background-color: var(--color-anti-primary-h);
}

.Nav-user {
  position: relative;
}

.Nav-user .wrapper {
  padding: 16px;
}

.Nav-user button {
  border: none;
  background: inherit;
}

.Nav-user button:hover {
  cursor: pointer;
}

.Nav-user .UserAvatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  top: -8px;
}

.Nav-username {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: small;
  font-weight: 500;
}




