.NewExperience {
    max-width: 100%;
    width: 600px;
    padding: 40px 20px;
    text-align: center;
}


.NewExperience input[type=file] {
    display: none;
}

.NewExperience label:first-child {
    cursor: pointer;
}

.NewExperience .flex>* {
    padding: 8px;
    display: inline-block;
    margin: 4px 0;
    width: 320px;
    max-width: 100%;
    font-size: medium;
    border-radius: 4px;
    border: 1px solid var(--color-subtle-border);
}


.NewExperience label {
    display: none !important;
}

.NewExperience-flex textarea {
    resize: vertical;
}

.newExpBudget span {
    color: #777;
    display: block;
}

.NewExperience span>img {
    width: 100%;
}

.newExpBudget input, .newExpBudget textarea {
    padding: 8px;
    display: inline-block;
    margin: 4px 0;
    max-width: 100%;
    font-size: medium;
    border-radius: 4px;
    border: 1px solid var(--color-subtle-border);
    width: 100%;
}

.newExpBudget input:nth-child(2),.newExpBudget input:nth-child(3) {
    width: 8ch;
}

.PillCheckbox,.TagPill {
    display: inline-block;
    margin-right: 8px;
}

.PillCheckbox:hover {
    cursor: pointer;
}

.PillCheckbox input {
    display: none;
}

.PillCheckbox span,.TagPill {
    display: inline-block;
    color: #555;
    background-color: white;
    border: 1px solid var(--color-subtle-border);
    border-radius: 8px;
    padding: 4px;
}

.PillCheckbox input:checked ~ span {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
}